# System file
.DS_Store
# dependencies and build
node_modules
dist
build
sample-input/
output/
input/
# IDE files
idea/
.vscode
# log files
yarn-error.log
yarn-debug.log
# npm lock file
package-lock.json